<!DOCTYPE html>
<html>

<head>
  <title>Jobs Management</title>
  <!-- Viewport mobile tag for sensible mobile support -->
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">
</head>
<style>
  .table {
    width: 70% !important
  }

  .display-4 {
    text-align: center;
  }
</style>

<body>
  <%- include("header"); -%>

  <div>
    <% if (locals.success) { %>
    <div class="alert-success">Welcome <%= success %></div>
    <% } %>
  </div>

  <div class="registration-form">
    <form method="get" action="/viewJobs" ngNativeValidate>
      <input type="submit" value="View Orders" class="btn btn-primary">
    </form>

    <br>

    <form method="get" action="/searchJob" ngNativeValidate>
      <input type="submit" value="Search Orders" class="btn btn-primary">
    </form>

  </div>


  </div>
</body>

</html>
